<header role="banner" class="site-header">
  <div class="inner">
  <a href="#" class="js-toggle-menu-open nav-toggle--open">
    <span class="icon-menu"></span> <span class="hidden">Menu</span>
  </a>
  {{ if .Site.Params.RSSLink}}
  <a class="subscribe-button icon-feed" href="{{.Site.Params.RSSLink }}">Subscribe</a> </div>
  {{else}}
  <a class="subscribe-button icon-feed" href="{{if .IsNode}}{{.RSSLink}}{{else}}{{ .Site.BaseURL }}index.xml{{end}}">Subscribe</a>
  {{end}}
  </div>
</header>

<nav class="site-navigation" aria-labelledby="mainNavigation">
  <h2 class="hidden" id="mainNavigation">Primary Navigation Menu</h2>

  <a href="#" class="js-toggle-menu-close nav-toggle--close">
    <span class="icon-close"></span> <span class="hidden">Close</span>
  </a>
  
  <div class="site-navigation__container" role="presentation">
  <div class="site-navigation__header" role="presentation">
    {{ partial "author.html" . }}
  </div>
  
  <ul class="main-menu" role="presentation">
    {{ $currentNode := . }}
    {{ range .Site.Menus.main }}
      <li class="main-menu__item" role="presentation">
        <a class="main-menu__link" href="{{.URL}}">
          {{ .Pre }}
          <span>{{ title .Name }}</span>
        </a>
      </li>
    {{end}}

    <li class="main-menu__item" role="presentation">
      <ul class="main-menu--social" role="presentation">
          {{if .Site.Params.githubName}}
          <li role="presentation" class="main-menu__item">
            <a href="https://github.com/{{.Site.Params.githubName}}" target="_blank" title="Find me on Github" class="main-menu__link github">
              <span class="icon-github"><span class="hidden">Github</span>
            </a>
          </li>
          {{end}}
          {{if .Site.Params.twitterName}}
          <li role="presentation" class="main-menu__item">
            <a href="https://twitter.com/{{.Site.Params.twitterName}}" target="_blank" title="Find me on Twitter" class="main-menu__link twitter">
              <span class="icon-twitter"><span class="hidden">Twitter</span>
            </a>
          </li>
          {{end}}
          {{if .Site.Params.facebookName}}
          <li role="presentation" class="main-menu__item">
            <a href="https://facebook.com/{{.Site.Params.facebookName}}" target="_blank" title="Find me on Facebook" class="main-menu__link facebook">
              <span class="icon-facebook"><span class="hidden">Facebook</span>
            </a>
          </li>
          {{end}}
          {{if .Site.Params.dribbbleName}}
          <li role="presentation" class="main-menu__item">
            <a href="https://dribbble.com/{{.Site.Params.dribbbleName}}" target="_blank" title="Find me on Dribbble" class="main-menu__link dribbble">
              <span class="icon-dribbble"><span class="hidden">Dribbble</span>
            </a>
          </li>
          {{end}}
          {{if .Site.Params.instagramName}}
          <li role="presentation" class="main-menu__item">
            <a href="https://instagram.com/{{.Site.Params.instagramName}}" target="_blank" title="Find me on Instagram" class="main-menu__link instagram">
              <span class="icon-instagram"></span><span class="hidden">Instagram</span>
            </a>
          </li>
          {{end}}
          {{if .Site.Params.linkedinName}}
          <li role="presentation" class="main-menu__item">  
            <a href="https://linkedin.com/u/{{.Site.Params.linkedinName}}" target="_blank" title="Find me on LinkedIn" class="main-menu__link linkedin">
              <span class="icon-linkedin"><span class="hidden">LinkedIn</span>
            </a>
          </li>
          {{end}}
      </ul>
    </li>
  </ul>
  </div>
</nav>
