.author {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 100px;
    border-radius: 50%;
    border: 7px double $grey-dark;
  }

  &__name {
    font-size: 120%;
    margin: 0;
  }

  &__bio {
    margin: 5px 0;
  }

  &__meta {
    font-size: 60%;
  }
}

