.oembedall-container.provider-rdio {
  position: relative;
  padding-bottom: 47%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;

  @include breakpoint($bp-medium) {
    padding-bottom: 24%;
  }

  @include breakpoint($bp-medium-landscape) {
    padding-bottom: 16%;
  }

  @include breakpoint($bp-large) {
    padding-bottom: 13%;
  }

  .oembedall-closehide {
    @include visuallyhidden;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
  }
}
