.list {
  margin-top: $base-margin;

  &__item {
    margin: $base-margin 0;
    border-bottom: 1px dashed $pale;
    padding-bottom: $base-margin;

    &:first-child {
      margin-top: 0;
    }

    &:last-child,
    &:last-of-type {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__excerpt {
    p, a {
      display: inline;
    }
  }

  &__meta {
    @extend %small;
  }
}
