.post {
  &__meta {
    @extend %small;
    padding: 0 $base-margin / 2;
    background-color: $pale;
    margin-bottom: $base-margin;
  }

  &__date,
  &__tag {
    display: inline-block;
    margin-right: 5px;
  }

  &__footer {
    .author {
      background-color: $pale;
      padding: $base-margin;
      margin: $base-margin 0;
    }
    .share {
      h4, a {
        @include rem(font-size, $font-size);
        @include rem(line-height, $line-height);
        display: inline-block;
        margin: 0 10px 0 0;
      }
    }
  }
}

.music {
  width: 100%;

  .post__header > *,
  .post__content > *,
  .post__embed > *,
  .post__footer {
    @extend .inner;
  }

  .post__header,
  .post__content,
  .post__embed {
    @extend %font-thin;
    background-color: $pale;
  }

  .post__header {
    padding: $base-margin-double 0 0;
  }

  .post__title {
    @extend %font-thin;
  }

  .post__content {
    @extend .h3;
    padding: 0 0 $base-margin-double;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.2;
  }

  .post__embed {
    margin-bottom: $base-margin;
    padding-bottom: $base-margin-double;
  }
}
