.site-header {
  background-color: $blue;
  height: 100px;
  color: $off-white;
  display: flex;
  align-items: center;
  padding: 0 $base-margin;
  box-shadow: $box-shadow-static;

  a {
    @include link-colors($off-white, darken($off-white, 5%));
  }
}
