.site-footer {
  @include cf;
  @extend %smaller;
  color: lighten($slate,15%);
  border-top: 1px solid $pale-dark;
  background-color: $pale;

  a {
    @include link-colors(lighten($slate,20%));
  }

  .copyright {
    width: 50%;
    float: left;
  }

  .poweredby {
    width: 50%;
    float: right;
    text-align: right;
  }
}
