.site-header {
  background-color: rgba($grey, 0.8);
  height: $header-height / 2;
  width: 100%;
  color: $off-white;
  display: flex;
  align-items: center;
  padding: 0 $base-margin;
  box-shadow: $box-shadow-static;
  position: fixed;
  z-index: 5;

  a {
    @include link-colors($off-white, darken($off-white, 5%));
    @include rem(font-size, 30px);
    padding: 10px;
    display: inline-block;

    &:hover {
      background-color: $grey-dark;
      border-radius: 5px;
    }
  }

  .subscribe-button {
    float: right;
  }

  @include breakpoint($bp-medium) {
    height: $header-height;
  }
}
