<header role="banner" class="site-header">
  <div class="inner">
  <a href="#" class="js-toggle-menu-open nav-toggle--open">
    <span class="icon-menu"></span> <span class="hidden">Menu</span>
  </a>
  {{ if .Site.Params.RSSLink}}
  <a class="subscribe-button icon-feed" href="{{.Site.Params.RSSLink }}">Subscribe</a> </div>
  {{else}}
  <a class="subscribe-button icon-feed" href="{{if .IsNode}}{{.RSSLink}}{{else}}{{ .Site.BaseURL }}index.xml{{end}}">Subscribe</a>
  {{end}}
  </div>
</header>
<nav class="site-navigation">
  <a href="#" class="js-toggle-menu-close nav-toggle--close">
    <span class="hidden">Close</span>
  </a>

  <ul class="main-menu" role="presentation">
    {{ $currentNode := . }}
    {{ range .Site.Menus.main }}
      <li class="main-menu__item" role="presentation">
        <a class="main-menu__link" href="{{.URL}}">
          {{ .Pre }}
          <span>{{ title .Name }}</span>
        </a>
      </li>
    {{end}}
    </ul>
</nav>
