<header role="banner" class="site-header">
  <a href="#" class="js-toggle-menu nav-toggle--open">
    <span class="hidden">Menu</span>
  </a>
  {{ if .Site.Params.RSSLink}}
  <a class="subscribe-button icon-feed" href="{{.Site.Params.RSSLink }}">Subscribe</a> </div>
  {{else}}
  <a class="subscribe-button icon-feed" href="{{if .IsNode}}{{.RSSLink}}{{else}}{{ .Site.BaseURL }}index.xml{{end}}">Subscribe</a>
  {{end}}
</header>
<nav class="site-navigation">
  <a href="#" class="js-toggle-menu nav-toggle--close">
    <span class="hidden">Close</span>
  </a>
  {{ range .Site.Menus.main }}
  <a href="{{.URL}}">{{.Name}}</a>
  {{ end }}
</nav>
