/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
  font-size: $base-font-size;
}

body {
  font-family: Lato, Helvetica, sans-serif;
  @include rem(font-size, $font-size);
  @include rem(line-height, $line-height);
}

h1, .h1 {
  @include rem(font-size, 73px);
  @include rem(line-height, $base-margin-triple);
  @include rem(margin, $base-margin-double 0 $base-margin);
}

h2, .h2 {
  @include rem(font-size, 47px);
  @include rem(line-height, $base-margin-double);
  @include rem(margin, $base-margin-double 0 $base-margin);
}

h3, .h3 {
  @include rem(font-size, 30px);
  @include rem(line-height, $base-margin-double);
  @include rem(margin, $base-margin 0);
}

h4, .h4 {
  @include rem(font-size, 19px);
  @include rem(line-height, $base-margin);
  @include rem(margin, $base-margin 0);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-stack;
  &:first-child {
    margin-top: 0;
  }
  a {
    @include link-colors($slate, lighten($slate, 5%));
  }
}

p {
  @include rem(margin, $base-margin 0);
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

b, strong, em, small, code {
  line-height: 1;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

a {
  @include link-colors($link-color, $link-color-hover);
  transition: all .25s ease-in;
  text-decoration: none;

  &.read-more {
    @include link-colors($slate, darken($slate, 10%));
  }

  &.twitter:hover {
    background-color: #67AEEB;
  }
  &.facebook:hover {
    background-color: #3C5C93;
  }
  &.instagram:hover {
    background-color: #645042;
  }
  &.linkedin:hover {
    background-color: #2B7AB2;
  }
  &.dribbble:hover {
    background-color: #E94B89;
  }
}

pre {
  @include rem(margin, $base-margin 0);
  padding: $base-margin;
}

sub, sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { 
  top: 0.4em; 
}

hr {
  padding: 0;
  border: none;
  border-top: medium double #bfbfbf;
  color: #bfbfbf;
  text-align: center;
  margin: $base-margin-double 0;
  font-family: Georgia, serif;
  &:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #ffffff;
  }
}

::selection { 
  background: $blue-dark; 
  color: $pale; 
  text-shadow: none; 
}

%small {
  font-size: $font-size * 0.75;
  line-height: $line-height * 1.25;
}

%smaller {
  font-size: $font-size * 0.6;
  line-height: $line-height * 1.4;
}
