.site-wrapper {
  padding-top: $header-height / 2;
  @include breakpoint($bp-medium) {
    padding-top: $header-height;
  }
}

body.smaller {
  .site-wrapper {
    @include breakpoint($bp-medium) {
      padding-top: $header-height * .6;
    }
  }
}

.inner {
  margin: 0 auto;
  width: 95%;
  @include breakpoint($bp-medium-landscape) {
    width: $site-max-width; 
  }
}
