@mixin link-colors($color, $hover: $color, $visited: $color, $active: $color, $focus: $color) {
  color: $color;
  &:hover { color: $hover; }
  &:visited { color: $visited; }
  &:active { color: $active; }
  &:focus { color: $focus; }
}

@mixin cf {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin visuallyhidden($focusable: false) { 
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px; 

  @if $focusable {
    &:focus, &:active { 
      clip: auto; 
      height: auto; 
      margin: 0; 
      overflow: visible; 
      position: static; 
      width: auto; 
    }
  }
}
